// Zurmo is a customer relationship management program developed by
// Zurmo, Inc. Copyright (C) 2017 Zurmo Inc.
//
// Zurmo is free software; you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License version 3 as published by the
// Free Software Foundation with the addition of the following permission added
// to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
// IN WHICH THE COPYRIGHT IS OWNED BY ZURMO, ZURMO DISCLAIMS THE WARRANTY
// OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
//
// Zurmo is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
// FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License along with
// this program; if not, see http://www.gnu.org/licenses or write to the Free
// Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
// 02110-1301 USA.
//
// You can contact Zurmo, Inc. with a mailing address at 27 North Wacker Drive
// Suite 370 Chicago, IL 60606. or at email address contact@zurmo.com.
//
// The interactive user interfaces in original and modified versions
// of this program must display Appropriate Legal Notices, as required under
// Section 5 of the GNU Affero General Public License version 3.
//
// In accordance with Section 7(b) of the GNU Affero General Public License version 3,
// these Appropriate Legal Notices must retain the display of the Zurmo
// logo and Zurmo copyright notice. If the display of the logo is not reasonably
// feasible for technical reasons, the Appropriate Legal Notices must display the words
// "Copyright Zurmo Inc. 2017. All rights reserved".

.panel-buffer{
    padding:15px;
}
.add-custom-field{
	.left-column > div{
        width: 100%;
        float:left;
    }
    .hasDropDown{
        margin-right:130px;
        width:auto;
    }
}

#attributeTypeNameButton{
    margin:0 0 0 -105px;
	span{
		padding: 0 15px;
	}
	span:before{
		content: "n";
		.symbly(16px);
		margin-right:5px;
		position:relative;
		top:0px;
	}
}


.lead-conversion-radiobutton{
	display:block;
	margin-bottom:10px;
	label{
		float:none !important;
		margin-left:20px;
	}
}

.modal-settings{
    .wide.form{
    	padding:15px !important;
    	#gradient > .vertical(#ffffff, #F5F5F5);
	    //.border-box();
    }
    .hasCheckBox{
    	margin-left:0;
    }
    th, td{
    	padding: 0 0 15px 0;
    }
}

.designer-toolbar{
    margin:0;
    input[type="submit"]{
        .z-button();
        margin-bottom:15px;
    }
    h3{
        margin:0 0 5px 0;
        padding-left:0;
    }
    > div {
    	margin-bottom:25px;
    }
}

#NotificationBar{
    span{
        font-size:12px;
        display:block;
        color:#cc0000 !important;
        margin:0 0 15px 0;
    }
}

.designerBlock(){
    border:1px solid #ccc;
    .b-shadow(~"inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12)");
    #gradient > .vertical-three-colors( #ffffff, #f5f5f5, 80%, #f5f5f5 );
}

.panelToPlace,
.rowToPlace,
.element-to-place {
    text-align: center;
    white-space: nowrap;
    margin: 1px;
    line-height:30px;
    min-width: 120px;
    height: 30px;
    border:1px solid #ccc;
    #gradient > .vertical(#f6f6f6, #ededed);
    .b-shadow(inset 0 1px 0 0 #ffffff);
    color: @themeColor;
    &.ui-state-disabled{
        color:#dcdcdc;
        #gradient > .vertical(#efefef, #ededed);
    }
}

.layout-parts-container {
    overflow:scroll;
    width:100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.layout-parts {
    float: left;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        clear: both;
    }
}

.layout-elements {
    width: 100%;
}

.layout-elements-column-container {
    float: left;
}

.sortable-panel {

	color: @themeColor;
    height:auto;
    display:block;
    float:left;
    margin: 1px 0;
    padding: 10px 10px 10px 10px;
    width: 100% !important;
    min-height: 60px !important;
    .t-shadow( rgba(255, 255, 255, 0.8) 0px 1px );
}

.modal-settings {
    margin: 1px;
    padding: 1px;
    min-height: 60px;
    display: none;
    z-index: 2000;
}

.cell-element {
	color: @themeColor;

    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    border:1px solid #ccc;
    #gradient > .vertical(#f6f6f6, #ededed);
    .b-shadow(inset 0 1px 0 0 #ffffff);
}

.cell-element-icon {
    float: right;
}

.cell-handle-icon {
    cursor: hand;
    cursor: pointer;
    float: left;
    clear: right;
}

.row-element-icon {
    float: right;
    clear: right;
}

.row-handle-icon {
    cursor: hand;
    cursor: pointer;
    float: left;
    clear: right;
}

.panel-element-icon {
    clear: none;
    float: right;
}

.panel-handle-icon {
    cursor: hand;
    cursor: pointer;
    float: left;
}

.panel-settings,
.cell-settings{
    div.wide.form label.hasCheckBox{
        margin-top:-5px !important;
        margin-bottom: 0;
    }
}

//check
.sortable-row-list-container ul {
    list-style-type: none;
    clear: both;
    margin: 5px 5px 5px 20px;
	padding:15px 0;
    > li{
        min-height: 60px;
        margin-bottom: 5px;
        padding:5px;
    }
}

.sortable-row-list{
	color: @themeColor !important;
}

.layout-single-column {
    margin: 15px 0 15px 0;
    height: 30px;
    line-height:30px;
    float: left;
    width:100%;

    &.droppable-cell-container{
        width:90%;

    }
}

.layout-double-column {

    margin: 15px 5px;
    line-height:30px;
    width: 45%;
    height: 30px;
    float: left;
}

.panel-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;
    min-height: 60px;
    float: left;
    width: 100%;
    > li {
        min-height: 60px;
        margin-bottom: 5px;
    }
}

#sortable-editable-dropdown-collection{
    clear: left;
    li {
        height: auto;
        font-size: 1em;
    }
}

.ui-icon{
    cursor: pointer;
}

.ui-icon-trash{
    &:after{
        content:"_";
        .symbly(22px);
        text-indent:0;
        display:block;
        float:right;
        color:#A7A7A7;
        margin:0;
        padding:0 2px;
    }
}

.ui-icon-circle-minus{
    &:after{
        content:"S";
        .symbly(22px);
        text-indent:0;
        display:block;
        float:right;
        color:#A7A7A7;
        margin:0;
        padding:0 2px;
    }
}

.ui-icon-circle-plus{
    &:after{
        content:"Y";
        .symbly(22px);
        text-indent:0;
        display:block;
        float:right;
        color:#A7A7A7;
        margin:0;
        padding:0 2px;
    }
}

.ui-icon-arrow-4{
    display:block;
    &:after{
        content:")";
        .symbly(22px);
        text-indent:0;
        display:block;
        float:right;
        color:#A7A7A7;
        margin:-2px 5px 0 0;
        padding:0;
    }
}

.ui-icon-wrench{
    display:block;
    &:after{
        content:"n";
        .symbly(22px);
        text-indent:0;
        display:block;
        float:right;
        color:#A7A7A7;
        margin:0;
        padding:0 2px;
    }
}

.sticky{
    width:100%;
    float:left;
    z-index:15000;
    #gradient > .vertical(#f6f6f6, #ededed);
    &.stick {
    	width:75%;
        position: fixed;
        top: 0;
        z-index: 1000;
        margin-top: 41px;
        .b-shadow(0 0 15px 0 #333);
    }
}

#layout-container{
    margin:30px 0 15px 0;
	float:left;
	width:100%;
	.ui-draggable-dragging{
		width:150px;
		z-index:99999999;
		font-weight: bold !important;
	}
    .ui-draggable-disabled.ui-state-disabled{
        opacity:0.2 !important;
        //background: !important;
    }
    .ui-state-highlight,
    .ui-widget-content .ui-state-highlight,
    .ui-widget-header .ui-state-highlight{
        border:1px solid #fcefa1;
        background:#fbf9ee;
        color:#333;
    }
    .ui-state-highlight{
	width: 100%;
	min-height: 60px;
	float: left;
	display: block;
    }
    .ui-state-highlight a,
    .ui-widget-content .ui-state-highlight a,
    .ui-widget-header .ui-state-highlight a{
        color:#333 ;
    }
    .droppable-cell-container{
        background:#EFEFEF;
    }
    .ui-widget-header{
        font-weight:bold;
    }
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default{
        font-weight:normal;
        .designerBlock();
    }
    .movable-cell-element.ui-state-default{
    	border:1px solid #ccc;
     	#gradient > .vertical(#f6f6f6, #ededed);
    	box-shadow:inset 0 1px 0 0 #ffffff;
    }
    .ui-state-default a,
    .ui-state-default a:link,
    .ui-state-default a:visited{
        text-decoration:none;
    }
    .ui-state-hover a,
    .ui-state-hover a:hover{
        text-decoration:none;
    }
    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active{
        z-index:9999;
        color:#333;
	    .b-shadow(0 0 1px 1px @themeColor);
    }
}

/*Editing fields, DESIGNER >> FIELDS >> EDIT FIELD*/
.AttributeEditView{
    .ui-state-highlight p{
        margin-top:10px;
        font-size:11px;
        text-align:left;
        text-indent:0;
        padding:0;
        line-height: 150%;
        font-style:normal;
    }
    .ui-icon-info{
        margin-left:-6px;
    }
    .ui-icon-info:after{
        content:"o";
        .symbly(22px);
        margin-right:3px;
        position:relative;
        top:1px;
    	color: @themeColor2;
    }
    .sortable{
        list-style: none;
        li{
            position: relative;
            .has-lang-label > span{
                cursor: move;
            }
        }
        .ui-icon.ui-icon-arrowthick-2-n-s{
            display:none;
        }
        .remove-sortable-item-link{
            position: absolute;
            left: 3px;
            top: 0;
            line-height: 1;
            z-index: 100;
            span{
                text-indent:-9999px;
                display:inline-block;
            }
            &:after{
                content:"_";
                .symbly(22px);
                text-indent:0 !important;
                color:#A7A7A7;
                .t-shadow(0 1px 0 #fff);
	            line-height: 1;
	            position: relative;
	            top: 1px;
            }
        }
    }
    form div table{
        //border-top:1px solid #dedede;
        //padding-top:16px;
        td{
            padding-left:0 !important;
        }
    }
}

#DropDownDependencyMappingData{
    table{
        border-top:none;
        padding-top:none;

        td{
            padding-right:15px;
            vertical-align: top;
        }
    }
}

/*Caluclated Fields Creation*/
.field-instructions{
	float:left;
	width:100%;
	margin:10px 0 15px 0;
	table{
		border-top:none !important;
	}
}

#available-fields{
    margin-top:15px;
    border: 1px solid #DFDFDF;
    border-collapse: collapse;
    border-spacing: 1px;
    margin-bottom:10px;
    th{
        font-weight:bold;
        background: url("@{path}table-items-header.png") left top repeat-x;
    }
    th, td{
        border: 1px solid #DFDFDF;
        vertical-align:middle;
        padding:10px 5px !important;
    }
}


/*Picklist Creation*/
#picklist-values{
    margin: 15px 0;
    td{
        padding-left: 0;
        padding-bottom: 0;
    }
    .errorMessage{
        margin-top:-5px;
    }
}
#DropDownAttributeForm_customFieldDataData_em_{
    margin-bottom: 10px;
}
#customFieldDataData_ul{
    li{
        position: relative;
    }
}

#contactStatesData_AddInputButton,
#customFieldDataData_AddInputButton{
    .z-button();
    margin:5px 0 0 0 !important;
    float: left;
    clear: both;
}