// Zurmo is a customer relationship management program developed by
// Zurmo, Inc. Copyright (C) 2017 Zurmo Inc.
//
// Zurmo is free software; you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License version 3 as published by the
// Free Software Foundation with the addition of the following permission added
// to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
// IN WHICH THE COPYRIGHT IS OWNED BY ZURMO, ZURMO DISCLAIMS THE WARRANTY
// OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
//
// Zurmo is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
// FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License along with
// this program; if not, see http://www.gnu.org/licenses or write to the Free
// Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
// 02110-1301 USA.
//
// You can contact Zurmo, Inc. with a mailing address at 27 North Wacker Drive
// Suite 370 Chicago, IL 60606. or at email address contact@zurmo.com.
//
// The interactive user interfaces in original and modified versions
// of this program must display Appropriate Legal Notices, as required under
// Section 5 of the GNU Affero General Public License version 3.
//
// In accordance with Section 7(b) of the GNU Affero General Public License version 3,
// these Appropriate Legal Notices must retain the display of the Zurmo
// logo and Zurmo copyright notice. If the display of the logo is not reasonably
// feasible for technical reasons, the Appropriate Legal Notices must display the words
// "Copyright Zurmo Inc. 2017. All rights reserved".

#ArchivedEmailMatchingListView{
    .items{
        td{
            padding-right:10px;
        }
    }
	.view-toolbar-container{
		border-top:1px solid #CCCCCC;
	}
	table{
		width: 100%;
	}
}

.email-archive-item{
    border:none !important;
    background:none !important;
    .b-shadow(none) !important;
    margin:0 0 0 0 !important;
    padding:0 !important;
    .lead-conversion-actions{
        padding-left:0;
    }
    .wide.form{
        background: none !important;
        border:none !important;
        .b-shadow(none) !important;
        padding-bottom: 0;
        margin-bottom: 0;
        > form{
            padding: 0;
            table{
                padding-bottom: 15px !important;
            }
        }
    }
    .overlay-label-field{
        padding-bottom: 0;
    }
    .matching-actions-and-content{
        > div{
            margin-top: 15px;
        }
        form{
            padding-bottom: 0;
        }
    }
    tr:hover{
        background:none !important;
    }
    th{
        height: auto !important;
        line-height: 1 !important;
        padding: 0 0 15px 0 !important;
    }
    td{
	    padding-right: 0 !important;
        padding-bottom: 15px;
    }
    th, td{
        background:none !important;
        border:none !important;
    }
    .email-matching-summary-content{
        span{
            line-height: 150%;
            font-weight: bold;
            color: #525252;
            font-size: 11px;
        }
    }
    .email-from,
    .email-to{
        display: block;
        font-weight: 400 !important;
        strong{
            font-weight: bold;
        }
    }
    .email-from,
    .email-to,
    .email-subject{
        line-height: 140%;
        margin-bottom:2px;
    }
    .beforeOptOutCheckBox + .hasCheckBox{
        left:0 !important;
        label.hasCheckBox{
            margin-right:0;
            margin-left:5px;
            &+label{
                margin-left:5px;
                margin-right: 0;
            }
        }
    }
}

.email-matching-actions{
    margin:5px 0 0 0 !important;
    display: block;
    a{
        text-decoration: none;
	    color:@themeColor;
    }
}

.email-matching-show-more,
.email-matching-show-less{
    margin-top:10px;
    cursor: pointer;
}

.email-matching-show-less{
    padding-bottom:10px;
    border-bottom: 1px solid #ccc;
}

.icon-down-arrow{
    font-weight: normal;
    &:before{
        position: relative;
        color:@textColor !important;
        content:"6";
        .symbly(18px);
        top:1px;
        margin:0 4px 0 0;
    }
}

.icon-up-arrow{
    font-weight: normal;
    &:before{
        position: relative;
        color:@textColor !important;
        content:"5";
        .symbly(18px);
        top:1px;
        margin:0 4px 0 0;
    }
}

.expanded{
    #gradient > .vertical-three-colors( #ffffff, #f5f5f5, 80%, #f5f5f5, ~"!important" );
    > td{
        padding-bottom: 0 !important;
        .b-shadow(inset 0 0 0 2px #ffffff);
    }
}

.active-panel{
    .portlet-gradient();
}

/*Email Compose*/
#CreateEmailMessageModalEditView{
    .panel{
        width:100%;
    }
    td{
        padding-left: 0;
    }
    .more-panels-link{
        display: block;
        margin: 0 0 0 10%;
        .smaller();
        float: left;
        position: relative;
        top:6px;
    }
    div.overlay-label-field{
        padding-bottom: 0;
    }
	.redactor_box iframe{
		min-height: 300px !important;
		height: auto !important;
	}
}

.recipient{
    .clearfix();;
    > label{
        float: left;
        width: 10%;
        margin-top: 5px;
	    overflow: hidden;
	    .text-overflow();
    }
    > div{
        float: right;
        width: 90%;
    }
}

#cc-bcc-fields{
    .recipient{
        margin-top: 15px;
    }
}

/*email modal*/
#NoGlobalEmailConfigurationYetView,
#NoUserEmailConfigurationYetView{
    .clearfix();
    padding:0 0 30px 0;
	.large-icon{
		margin-top: 0;
	}
	.large-icon:after{
		font-size: 220px;
	}
	p{
		margin-top: 15px;
	}
    .z-button{
        margin-top: 20px;
    }
}

#redactor_modal{
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea{
		z-index: 9999 !important;
	}
}

/*User email configuration*/
.outbound-settings{
    clear: left;
    position: relative;
    top:5px;
    div{
        margin-bottom: 10px;
    }
    label{
        margin-bottom: 5px;
    }
}
