/*********************************************************************************
 * Zurmo is a customer relationship management program developed by
 * Zurmo, Inc. Copyright (C) 2017 Zurmo Inc.
 *
 * Zurmo is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License version 3 as published by the
 * Free Software Foundation with the addition of the following permission added
 * to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
 * IN WHICH THE COPYRIGHT IS OWNED BY ZURMO, ZURMO DISCLAIMS THE WARRANTY
 * OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
 *
 * Zurmo is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License along with
 * this program; if not, see http://www.gnu.org/licenses or write to the Free
 * Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
 * 02110-1301 USA.
 *
 * You can contact Zurmo, Inc. with a mailing address at 27 North Wacker Drive
 * Suite 370 Chicago, IL 60606. or at email address contact@zurmo.com.
 *
 * The interactive user interfaces in original and modified versions
 * of this program must display Appropriate Legal Notices, as required under
 * Section 5 of the GNU Affero General Public License version 3.
 *
 * In accordance with Section 7(b) of the GNU Affero General Public License version 3,
 * these Appropriate Legal Notices must retain the display of the Zurmo
 * logo and Zurmo copyright notice. If the display of the logo is not reasonably
 * feasible for technical reasons, the Appropriate Legal Notices must display the words
 * Copyright Zurmo Inc. 2015. All rights reserved.
 ********************************************************************************/

@import "variables.less";

/*Target only Explorer*/
.form{
    input[type="text"],
    input[type="password"] {
        height:26px;
    }
}

/*Top Right Create New Menu*/
#ShortcutsMenu > li > a {
	//filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}

/*Calendar with dates*/
.calendar-events-1,
.calendar-events-2,
.calendar-events-3,
.calendar-events-4,
.calendar-events-5,
.calendar-events-6{
	span{
		font-size:38px !important;
		letter-spacing: -25px !important;
		&:before{
			top:10px !important;
		}
	}
}

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

/*Dropdowns*/
.hasDropDown{
    span{
        z-index: 0;
    }
    select{
        z-index: 5;
        padding-right:15px;
        background: #fff url("@{path}dropdown-arrow.png") 100% 0 no-repeat;
    }
}

.add-label{
    display:inline-block;
    position:relative;
    top:-5px;
}

#ActionBarSearchAndListView{
    > div:first-child{
        z-index:10005;
    }
}

.modal-view-toolbar,
.form-toolbar{
	a,
	input[type="submit"],
	input[type="button"]{
		border-top:1px solid    rgb(235, 235, 235);
		border-left: 1px solid  rgb(220, 220, 220);
		border-right:1px solid  rgb(220, 220, 220);
		border-bottom:1px solid rgb(205, 205, 205);
		color:#666;
		overflow: hidden;
		position: relative;
		cursor:pointer;
		margin:0 10px;
		text-indent:0;
		display:inline-block;
	}
}