// Zurmo is a customer relationship management program developed by
// Zurmo, Inc. Copyright (C) 2017 Zurmo Inc.
//
// Zurmo is free software; you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License version 3 as published by the
// Free Software Foundation with the addition of the following permission added
// to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
// IN WHICH THE COPYRIGHT IS OWNED BY ZURMO, ZURMO DISCLAIMS THE WARRANTY
// OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
//
// Zurmo is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
// FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License along with
// this program; if not, see http://www.gnu.org/licenses or write to the Free
// Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
// 02110-1301 USA.
//
// You can contact Zurmo, Inc. with a mailing address at 27 North Wacker Drive
// Suite 370 Chicago, IL 60606. or at email address contact@zurmo.com.
//
// The interactive user interfaces in original and modified versions
// of this program must display Appropriate Legal Notices, as required under
// Section 5 of the GNU Affero General Public License version 3.
//
// In accordance with Section 7(b) of the GNU Affero General Public License version 3,
// these Appropriate Legal Notices must retain the display of the Zurmo
// logo and Zurmo copyright notice. If the display of the logo is not reasonably
// feasible for technical reasons, the Appropriate Legal Notices must display the words
// "Copyright Zurmo Inc. 2017. All rights reserved".

#ZurmoLogo{
    background: url("@{path}ZurmoLogo.png") left top no-repeat;
    width:170px;
    height:54px;
    margin-bottom:20px;
}

#InstallView{
	margin-left: 0;
	padding: 75px 15% 15px 15%;
	font-size: 14px;
	line-height: 150%;
	.z-label{
		font-size: 12px;
	}
	ul{
		list-style:inside;
		margin-bottom:10px;
		font-weight: bold;
		li{
			margin-bottom:5px;
		}
	}
	table{
		width:100%;
		/*inside another table to prevent hover effect on the main table*/
		table tr:hover{
			//background-color:none;
			//color:@textColor;
		}
		td{
			//padding:8px 2px;
		}
	}
}

.checked-services{
    border-color: #DDDEDE;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
    td{
        border-color: #DDDEDE;
        border-style: solid;
        border-width: 1px 1px 0 0;
        padding:10px;
    }
    tr{
        border-color: #DDDEDE;
        border-style: solid;
        border-width: 0 0 0 1px;
        border-spacing: 0;
    }
    tr:hover{
        background-color:none;
        color:@textColor;
    }
    tr:first-child{
        border-left:none;
        td{
            border:none;
            font-weight:bold;
            padding-left: 2px;
        }
    }
    span{
        &.pass,
        &.fail,
        &.warning{
            display: block;
            text-align: center;
        }
    }
}

#install-form{
	.unstyle-panel;
	input[type="submit"]{
		.z-button();
	}
	table{
		padding-bottom:15px;
	}
	th{
		width:26%;
		vertical-align:top;
        padding:10px;
    }
	td{
		width:37%;
        padding:10px;
    }
	th+td{
		vertical-align:top;
	}
	tr td:last-child{
		padding-left:15px;
	}
	label{
		font-size:12px !important;
		font-weight:400 !important;
	}
	.hasCheckBox{
		padding-top:0;
		margin-left:0;
	}
	.view-toolbar-container{}
	.form-toolbar{
		border-top: none;
	}
}

#logging-table, #progress-table{
    width:100%;
	padding: 15px;
    img{
        width:128px;
        margin:10px auto;
    }
}

#logging-table{
    height:450px;
    overflow-y: scroll;
}

.progress-bar{
    text-align:center;
}

.fail{
    color:#cc0000;
}

.pass{
    color:#7BB730;
}

.warning{
    color:#FFCC00;
}

.install-or{
    display:inline-block;
    position:relative;
    //top:-10px;
	margin: 0 10px;
}